* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
}

div.tab {
  position: fixed;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30vw;
  height: 100vh;
}

div.tab button {
  display: block;
  background-color: transparent;
  color: #fff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */

div.tab button:hover {
  color: #000;
}

/* Create an active/current "tab button" class */

div.tab button.active, div.tab button.active:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

#home {
  height: 30vw;
  text-align: center;
  font-size: 5vmax;
}

.tabcontent {
  color: #fff;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
}

.textarea {
  width: 70vw;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tab1 {
  background-image: url(profile1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tab2 {
  background-color: #27ae60;
}

.tab3 {
  background-color: #2980b9;
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  div.tab {
    position: fixed;
    width: 25vw;
  }
  #home {
    height: 25vw;
    font-size: 5vmax;
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  div.tab {
    position: fixed;
    width: 20vw;
  }
  #home {
    height: 20vw;
    font-size: 5vmax;
  }
}
